body {
	text-align: center;

}
header {
	font-family: 'Lobster', cursive;
	font-size: 5em;
	text-align: center;
}

.copy {
	margin: 3em;
	color: white;
}

footer {
	margin: 3em;
	color: white;
}

button {
	color: white;
}

button p {
	color: black;
}

ul > li{
    display: inline-block;
    zoom:1;
    margin: 1.5em;
    *display:inline; /* this fix is needed for IE7- */
}

a {
	/*text-decoration: none;*/
	color: white;
}


.card-text {
	color: black;
}
